In [22]:
import pandas as pd

 
df = pd.DataFrame({"점수": [49,50,53,54,60,70,80,90,97,89,95,96,100,95,73,95,86,93,85,95]})
df

     점수
0    49
1    50
2    53
3    54
4    60
5    70
6    80
7    90
8    97
9    89
10   95
11   96
12  100
13   95
14   73
15   95
16   86
17   93
18   85
19   95

In [20]:

bin_divider = [ 50, 60, 70, 80, 90, 100]
bin_name = ['F', 'D','C', 'B', 'A']

df['학점'] = pd.cut(df['점수'] ,bins = bin_divider ,labels=bin_name,  include_lowest = True )
df

     점수   학점
0    49  NaN
1    50    F
2    53    F
3    54    F
4    60    F
5    70    D
6    80    C
7    90    B
8    97    A
9    89    B
10   95    A
11   96    A
12  100    A
13   95    A
14   73    C
15   95    A
16   86    B
17   93    A
18   85    B
19   95    A

In [21]:
df['학점'].value_counts(sorted)

A    0.421053
F    0.210526
B    0.210526
C    0.105263
D    0.052632
Name: 학점, dtype: float64